<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>
    <div class="container">

        <header class="row">
            <div id="shop-logo" class="col-12">
                <img id="logo" src="images/bike-logo.svg" alt="logo">The Bike Shop Experience
            </div>
        </header>


        <div class="row" id="shop-background"></div>



        <div class="row">
                
                
                <div class="card text-center offset-1 offset-sm-0 col-10 col-sm-6 col-md-4 bike-card">
                    <img src="images/bike-2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Model BIKO45S</h5>
                        <span class="card-text">729€</span>
                        <a href="shop.ejs" class="btn btn-outline-info">Buy</a>
                    </div>

                </div>
                <div class="card text-center offset-1 offset-sm-0 col-10 col-sm-6 col-md-4 bike-card">
                    <img src="images/bike-3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Model BIKO435S</h5>
                        <span class="card-text">729€</span>
                        <a href="shop.ejs" class="btn btn-outline-info">Buy</a>
                    </div>

                </div>
                <div class="card text-center offset-1 offset-sm-0 col-10 col-sm-6 col-md-4 bike-card">
                    <img src="images/bike-4.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Model BIKO32S</h5>
                        <span class="card-text">729€</span>
                        <a href="shop.ejs" class="btn btn-outline-info">Buy</a>
                    </div>

                </div>
                <div class="card text-center offset-1 offset-sm-0 col-10 col-sm-6 col-md-4 bike-card">
                    <img src="images/bike-5.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Model BIKO48S</h5>
                        <span class="card-text">729€</span>
                        <a href="shop.ejs" class="btn btn-outline-info">Buy</a>
                    </div>

                </div>
                <div class="card text-center offset-1 offset-sm-0 col-10 col-sm-6 col-md-4 bike-card">
                    <img src="images/bike-6.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Model BIKO50S</h5>
                        <span class="card-text">729€</span>
                        <a href="shop.ejs" class="btn btn-outline-info">Buy</a>
                    </div>

                </div>
        </div>

    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


    </body>
    </html>